venv/
__pycache__/
*.pyc
playwright/driver/
*.dylib
*.so
*.zip
*.bin
*.pth
venv/
__pycache__/
*.pyc
playwright/driver/
*.dylib
*.so
*.zip
*.bin
*.pth
.DS_Store

# generated media
current_audio.mp3
current_video.mp4

# outputs
*.csv
/tiktok_results/
